@page "/login"
@using Blazored.LocalStorage;
@using OnlineShop.Frontend.Components
@using System.ComponentModel.DataAnnotations
@using OnlineShop.Frontend.Dialogs;
@using OnlineShop.HttpApiClient.Entities;
@using OnlineShop.HttpApiClient;
@using OnlineShop.Frontend.Interfaces;
@using OnlineShop.HttpModels.Requests;

@inherits AppComponentBase

@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar


@if(Client.IsAuthorizationTokenSet == true)
{
	<h1>Logged In</h1>
}
else
{

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
	<DataAnnotationsValidator />
	<MudGrid>
		<MudItem Style="width: 100%;">
			<MudCard>
				<MudCardContent>
					<MudTextField Label="Email" Class="mt-3"
					@bind-Value="model.Email" For="@(() => model.Email)" />
					<MudTextField Label="Password" HelperText="Choose a strong password" Class="mt-3"
					@bind-Value="model.Password" For="@(() => model.Password)" InputType="InputType.Password" />
				</MudCardContent>
				<MudCardActions>
					<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Login</MudButton>
				</MudCardActions>
			</MudCard>
		</MudItem>
		<MudItem>
			@if (_loginInProgress)
			{
				<MudProgressLinear Color="Color.Primary" Indeterminate="true" />
			}
		</MudItem>
		<MudItem xs="12">
			<MudText Typo="Typo.body2" Align="Align.Center">
				Don't Have An Account Yet?
				<MudButton OnClick="@OpenRegisterWindow" Typo="Typo.body2" Color="Color.Inherit"><b>Register</b></MudButton>
			</MudText>

		</MudItem>
	</MudGrid>
</EditForm>

}

@code {
	LoginRequest model = new LoginRequest();
	bool _loginInProgress;


	private async Task OnValidSubmit(EditContext context)
	{
		if (_loginInProgress)
		{
			Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
			Snackbar.Add("Login in progress...", Severity.Info);
			return;
		}

		_loginInProgress = true;

		try
		{
			var response = await Client.Login(new LoginByPassRequest()
			{
				Email = model.Email,
				Password = model.Password
			}, default);

			await LocalStorage.SetItemAsync("token", response.Token);
			StateHasChanged();

			await DialogService.ShowMessageBox(
				"Success!",
				"Login complete.",
				yesText: "OK"
			);

			NavigationManager.NavigateTo("/profile");

			
		}
		catch (MyShopApiException e)
		{
			_loginInProgress = false;
			await DialogService.ShowMessageBox("Error!", e.Message, yesText: "OK");
		}
		finally
		{
			_loginInProgress = false;
		}

	}

	private void OpenRegisterWindow()
	{
		var options = new DialogOptions { CloseOnEscapeKey = true };
		DialogService.Show<RegisterDialog>("Register", options);
	}

	private async Task Logout()
	{
		Client.ResetAuthorizationToken();
		await ClearToken();
		StateHasChanged();
		await DialogService.ShowMessageBox(
				"Success!",
				"Logged out.",
				yesText: "OK"
			);
		NavigationManager.NavigateTo("login");
	}
}











