@page "/profile"
@using OnlineShop.Frontend.Components
@using OnlineShop.HttpModels.Responses;
@inherits AppComponentBase

<div style="background-color:beige; border-radius:5px; padding:50px;">
	<h1 style="text-align:center;">Profile</h1>
	<hr style="height:3px; background-color:black; border:none; margin-bottom:15px;" />
	@if (_accountResponse is null)
	{
		<div style="margin:5px;">Loading...</div>
		<MudProgressCircular Color="Color.Default" Indeterminate="true" />
	}
	else
	{
		<MudText>Id: @_accountResponse.Id</MudText>
		<MudText>Name: @_accountResponse.Name</MudText>
		<MudText>Email: @_accountResponse.Email</MudText>
	}
</div>

@code{
	private AccountResponse _accountResponse;
	private CancellationTokenSource _cts = new();

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		_accountResponse = await Client.GetCurrentAccount(_cts.Token);
	}
}





